<div class="divFooter" [ngStyle]="{backgroundColor:getColor()}">
  <b>SiteName --> {{ getSiteName() }}</b>
  <div class="footer">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-android"></a>
    <a href="#" class="fa fa-youtube"></a>
  </div>
  <br /><br />
  <span *ngIf='rocketStatus === "Successful"; else statusFailed'>Rocket's {{ rocketState }}!!!</span>
  <ng-template #statusFailed>
    <span>Rocket's died</span>
  </ng-template>
  <br /><br />
  <button [disabled]="!button" [class]="className" (click)="start()">
    <b class="start">Start</b>
  </button>
  <br /><br />
  <p [ngClass]="{Successful: rocketStatus === 'Successful'}">
    <b>Rocket Status --> {{ rocketStatus }}</b>
  </p>
  <br /><br />
  <input type="text" class="form-control" (input)="restart($event)" />
  <br />
  <button class="btn btn-secondary" (click)="saveValue()">SAVE</button>
  <br /><br />
  <span>{{ rocketName }}</span>
  <br /><br />
  <span class="spam"
    ><b>{{ rocketNoName }}</b></span
  >
  <br /><br />
  <input type="text" [(ngModel)]="model" class="form-control"/>
  <br /><br />
  <button (click)="saveModel()" class="btn btn-secondary">SAVE</button>
  <br /><br />
  <p>Model = {{ savedModel }}</p>
  <br /><br />
</div>
